<!DOCTYPE html>
<html lang="ja">
<head>
  <title>メモアプリ</title>
  <link rel="stylesheet" href="/css/style.css" type='text/css'> </head>
<body>
  <article>
    <h1>メモアプリ</h1>
    <%= yield %>
  </article>
</body>
</html>
