<div> <a href="/memos/newies">メモを作成</a> </div>
<ul>
  <% @memos.each do |memo| %>
    <li>
      <a href="/memos/<%= memo["id"] %>">
        <%= CGI.escapeHTML(memo["title"]) %>
      </a>
    </li>
  <% end %>
</ul>
